.Task {
  display: flex;
  margin-bottom: 0.5rem;

  background-color: lightgray;
  border-radius: 3px;
}

.Task-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Task-title.Task-title--done {
  text-decoration: line-through;
}

.Task-description {
  font-size: 0.8rem;
  color: grey;
}
